<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting label="General" type="lsep" />
        <setting id="download_path" type="folder" label="Download Path (NOT FAT32)" source="auto" option="writeable" />
        <setting id="keep_files" type="bool" label="Keep files after playback/download stops" default="false" />

        <setting label="BitTorrent" type="lsep"/>
        <setting id="max_upload_rate" label="Max Upload Rate (kB/s)" type="number" default="" />
        <setting id="max_download_rate" label="Max Download Rate (kB/s)" type="number" default="" />
        <setting id="listen_port_min" label="Listen Port Min" type="number" default="6889" />
        <setting id="listen_port_max" label="Listen Port Max" type="number" default="7000" />
    </category>
    <category label="Proxy">
        <setting label="SOCKS v5 Configuration" type="lsep"/>
        <setting id="socks_enabled" label="Enabled" type="bool" default="false" />
        <setting id="socks_host" label="Host" type="text" default="" subsetting="true" visible="eq(-1,true)" />
        <setting id="socks_port" label="Port" type="number" default="1080" subsetting="true" visible="eq(-2,true)" />
        <setting id="socks_login" label="Login" type="text" default="" subsetting="true" visible="eq(-3,true)" />
        <setting id="socks_password" label="Password" type="text" default="" subsetting="true" visible="eq(-4,true)" />
    </category>
    <category label="Advanced">
        <setting label="Custom Provider Timeout" type="lsep"/>
        <setting id="custom_provider_timeout_enabled" label="Enabled (use at your own risk)" type="bool" default="false" />
        <setting id="custom_provider_timeout" label="Timeout in seconds" type="number" default="4" visible="eq(-1,true)" />
        <setting label="Maintenance" type="lsep"/>
        <setting type="action" label="Clear cache" action="RunPlugin(plugin://plugin.video.pulsar/cmd/clear_cache)" />
    </category>
</settings>
